pyrogram
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
beautifulsoup4
shortzy
pytz
aiohttp
PyLeaves
youtube-search-python==1.4.6
yt-dlp
opencv-python-headless
googletrans==4.0.0rc1
telegraph
python-dotenv
gTTS
humanize
Pillow
psutil
numpy
wheel
ujson
dnspython
python-decouple
ffmpeg-python
ytthumb
jinja2
apscheduler
pyshorteners
pyromod
colorama
aiofiles
youtube-search